@model IEnumerable<WebApplication1.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1>Reservations</h1>

    <p>
        <a asp-action="Create">Add Reservation</a>
    </p>

   <div class="d-flex justify-content-evenly align-content-center">
        @foreach (var item in Model)
        {

            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">  @Html.DisplayNameFor(model => model.Presenter):- @Html.DisplayFor(modelItem => item.Presenter.Name)</li>
                    <li class="list-group-item">  @Html.DisplayNameFor(model => model.Investor):- @Html.DisplayFor(modelItem => item.Investor.Name)</li>
                    <li class="list-group-item"> @Html.DisplayNameFor(model => model.Topic):-  @Html.DisplayFor(modelItem => item.Topic)</li>
                    <li class="list-group-item"> @Html.DisplayNameFor(model => model.ConferenceRooms) :- @Html.DisplayFor(modelItem => item.ConferenceRooms.number)</li>
                    <li class="list-group-item"> @Html.DisplayNameFor(model => model.StartTime):- @Html.DisplayFor(modelItem => item.StartTime)</li>
                    <li class="list-group-item">@Html.DisplayNameFor(model => model.EndTime):-@Html.DisplayFor(modelItem => item.EndTime)</li>
                    <li class="list-group-item">@Html.DisplayNameFor(model => model.IsDone):-@Html.DisplayFor(modelItem => item.IsDone)</li>

                </ul>
                <div class="card-footer">
                    @Html.DisplayNameFor(model => model.ReservationDate) :-  @Html.DisplayFor(modelItem => item.ReservationDate)
                </div>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </div>


        }

    </div>

</div>
 
