@model Tuple<EMS.Models.Hotel, List<EMS.Models.ConferenceRoom>, List<RoomTimeSlot>>

@{
    ViewData["Title"] = "Details";
}

<section class="doc_blog_grid_area bg-disable">
    <div class="blog_grid_inner bg_color">
        <div class="container">
            <div class="d-flex justify-content-between mb-35 flex-wrap">
                <h2 class="section-title-h2 mb-0"></h2>
                <div><a asp-controller="ConferenceRoom" asp-action="Create" class="doc_border_btn doc_border_btn_two sec-btn-blue mt-2">Add New Room</a></div>
            </div>

            <ul class="nav blog_tab">
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row blog_grid_tab">

            @foreach (var item in Model.Item2)
            {

                <div class="col-lg-4 col-sm-6">
                    <div class="blog_grid_post shadow-sm wow fadeInUp">
                        <img src="img/blog-grid/blog_grid_post1.jpg" alt="">
                        <div class="grid_post_content">

                            <a asp-controller="ConferenceRoom" asp-action="Details" asp-route-id="@item.Id">
                                <h4 class="b_title text-center text-capitalize">@item.number</h4>
                            </a>

                            @foreach (var itemItem in Model.Item3)
                            {
                                @if (itemItem.ConferenceRoomId == item.Id)
                                {
                                    <div class="post_tag">
                                        <a class="c_blue" href="#"><i class="icon_tag_alt"></i> Start Time </a>
                                        <a class="c_blue text-danger" asp-controller="RoomTimeSlot" asp-action="Delete" asp-route-id="@item.Id"><i class="icon_trash"></i> </a>
                                        <a class="c_blue"
                                           asp-controller="RoomTimeSlot" asp-action="Edit" asp-route-id="@item.Id"><i class="icon_pencil-edit"></i></a>
                                        <a href="#"><i class="icon_calendar"></i> @Html.DisplayFor(modelItem => itemItem.StartTime) </a>
                                    </div>
                                    <div class="post_tag">
                                        <a class="c_blue" href="#"><i class="icon_tag_alt"></i> End Time </a>
                                        <a href="#"><i class="icon_calendar"></i> @Html.DisplayFor(modelItem => itemItem.EndTime) </a>
                                    </div>
                                    <div class="post_tag">
                                        <a class="c_blue" href="#"><i class="icon_tag_alt"></i> Occupied </a>

                                        <a href="#"> @Html.DisplayFor(modelItem => itemItem.Occupied) </a>
                                    </div>

                                    <hr />
                                }
                            }

                            <div class="media post_author">
                                <div class="round_img">
                                    <img src="img/blog-grid/author_1.jpg" alt="">
                                </div>
                                <div class="media-body author_text text-center">
                                    <a asp-controller="RoomTimeSlot" asp-action="Create" class="b_title"> Add Time Slot </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            }




        </div>
    </div>
</section>


