@model Tuple<WebApplication1.Models.Hotel, List<WebApplication1.Models.ConferenceRoom>, List<WebApplication1.Models.RoomTimeSlot>>

@{
    ViewData["Title"] = "Details";
}

<div class="container">

    <h1>Details</h1>

    <h4>Hotel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item1.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item1.Name)
        </dd>
    </dl>
</div>

<div>
    <h4>Available Rooms</h4>
    <hr />

    <div class="d-flex justify-content-evenly align-content-center">
        @foreach (var item in Model.Item2)
        {
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <a asp-controller="ConferenceRoom" asp-action="Details" asp-route-id="@item.Id" class="card-title">@Html.DisplayFor(modelItem => item.number)</a>
                </div>
                @foreach (var itemItem in Model.Item3)
                {
                    @if(itemItem.ConferenceRoomId==item.Id)
                    {
                        
                    
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-content-center" >
                                <p> Start Date </p>
                                <p>@Html.DisplayFor(modelItem => itemItem.StartTime)</p>
                            </div>
                            <div class="d-flex justify-content-between align-content-center">
                                <p> End Date </p>
                                <span>@Html.DisplayFor(modelItem => itemItem.EndTime)</span>
                            </div>
                        </div>
                    </div>
                    }
                }
            </div>
        }
    </div>

</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Item1?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</div>